<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Personel Yönetim</title>
</head>

<body>
    <a href="/" class="btn btn-success mt-4 mx-4">ANASAYFA</a>
    
   
    
   
    

   
    <div class="container col-lg-12 ">
        <h1 class="text-center mt-4">Personel Yönetim Sistemi <a href="/personelEkle" class="btn btn-info btn-lg mx-4">Yeni Personel Ekle</a></h1>
        <table class="table table-striped">
            
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>TC No</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Kan Grubu</th>
                    <th>Doğum Yeri</th>
                    <th>Pozisyon</th>
                    <th>Maaş</th>
                    <th>Eğitim</th>
                    <th>Profil</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
           
           
            <tbody>
                <%var j = 1 %> 
                <% results.forEach(e => { %>
                <tr>
                        <th><%= j %></th>
                        <td> <%= e.personel_id%> </td>
                        <td> <%= e.tc_no%> </td>
                        <td> <%= e.isim%> </td>
                        <td> <%= e.soyisim%> </td>
                        <td> <%= e.kan_grubu%> </td>
                        <td> <%= e.dogum_yeri%> </td>
                        <td> <%= e.pozisyon%> </td>
                        <td> <%= e.maas%>₺</td>
                        <td> <%= e.egitim%> </td>
                        <td> <a href="/profil/<%=e.personel_id%>" class="btn btn-primary btn-sm ">PROFİL</a></td>
                        <td> <a href="/personelDuzenle/<%=e.personel_id%>" class="btn btn-info btn-sm ">DÜZENLE</a></td>
                        <td> <a href="/delete_personel/<%=e.personel_id%>" class="btn btn-danger btn-sm ">SİL</a></td>

                        
                        
                     
                    
                        <%j++ %> 
                   
                    
                    
                </tr>
                <% }); %> 
               
            </tbody>
           
        </table>
        



        
    </div>












    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>